@layer tw {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

:root {
  --primary-color-400: rgb(244 114 182);
  --primary-color-500: rgb(236 72 153);
  --primary-color-600: rgb(219 39 119);
}
