.pageLayout {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 64px 1fr 80px;
  grid-template-areas:
    'main      main        main'
    'main      main        main'
    'menu-left menu-center menu-right';
}

.main {
  grid-area: main;
  overflow: hidden;
}

.menuTodo {
  grid-area: menu-left;
}

.menuSchedules {
  grid-area: menu-center;
}

.menuCompleted {
  grid-area: menu-right;
}
